<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001910524628-3ub2dets4s7o075fd40k5tbkrrk5q0pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001910524628-3ub2dets4s7o075fd40k5tbkrrk5q0pt</string>
	<key>API_KEY</key>
	<string>AIzaSyCb5l9-qdfEfh5inmii4IL2KPJgQbRcwTo</string>
	<key>GCM_SENDER_ID</key>
	<string>1001910524628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.partnership</string>
	<key>PROJECT_ID</key>
	<string>dev-partnership</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-partnership.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001910524628:ios:87f78d828c633471a43941</string>
</dict>
</plist>